@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pamukkale Üniversitesi<br />
    Pamukkale , Denizli , 20000<br />
    <abbr title="Telefon">P:</abbr>
    444 0 123
</address>

<address>
    <strong>Destek : </strong>   <a href="mailto:Support@tas.com">Support@tas.com</a><br />
    <strong>Market : </strong> <a href="mailto:Marketing@tas.com">Marketing@tas.com</a>
</address>